{% extends "start.html" %}

{% block content %}
    <h1 align="center">Авторизация</h1>
<div align="center">
    <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p style="width:20%">
        {{form.login.label()}}<br>
        {{form.login(class="form-control")}}
    </p>
    <p style="width:20%">
        {{form.password.label}}<br>
        {{form.password(class="form-control", type="password")}}
    </p>
    <p>{{form.button(type="submit", class="btn btn-primary")}}</p>
</form>
</div>
{% if message %}
<br><div class="alert alert-danger" role="alert" style="width:20%" align="center">{{message}}</div>
{% endif %}
{% endblock %}